<a name="about" > </a>
<h3 class="text-center"> About </h3>

<p>Toccata Nosferatu is the solo work of classically trained keyboardist Riston
   Denaux. Using various techniques of synthesis and sound design, Toccata
   Nosferatu combines elements of post-punk, electronic, and early musical style
   to create haunting, melodic themes generated within a dreary and atmospheric
   context. The focus of the lyrical ideas range from the contemplative to the
   mystical, invoking traditional storytelling involving love, horror, and loss.
   Toccata, derived from the Italian verb meaning "to touch", is a direct
   reference to the Baroque form, and the name Toccata Nosferatu might be
   thought as "The Touch of Nosferatu". </p>
