<div class="footer">
  <ul class="navi">
    <li><a href="#top">Top</a></li>
    <li> | </li>
    <li><a href="#about">About</a></li>
    <li> | </li>
    <li><a href="#news">News</a></li>
    <li> | </li>
    <li><a href="#3">Links</a></li>
  </ul>


</div>
<div class="footer-right">
   <p> TNWebDev, rubyonrails 2017 </p>
</div>
