<a name="#top"></a>
<div >
  <%= image_tag("Logoprofilepic.png") %>
</div>
<div class="headerText">
  <h1> Toccata Nosferatu


<div class="dropdown">
  <ul class="navi">
    <li><a href="#about">About</a></li>
    <li> | </li>
    <li><a href="#news">News</a></li>
    <li> | </li>
    <li><a href="#3">Links</a></li>
  </ul>
</div>

</h1>
</div>
