
<div >
  <%= image_tag("Logoprofilepic.png") %>
</div>
<div class="headerText">
  <h1> Toccata Nosferatu

    <div class="dropdown">
      <ul class="navi">
        <%= link_to "Back To Main Page", "/" %>
      </ul>
    </div>

  </h1>
</div>
