<div class="side">
	<ul> 
    <li><a href="https://toccatanosferatu.bandcamp.com"><%= image_tag "bandcamp.png" %></a></li>     
      <li><a href="https://www.reverbnation.com/toccatanosferatu"><%= image_tag "reverb.png"%></a></li>
      <li><a href="https://www.soundcloud.com/toccata-nosferatu"><%= image_tag "SOUNDCLOUD.png"%></a></li>
      <li><a href="https://www.facebook.com/ToccataNosferatu"><%= image_tag "facebook.png"%></a></li>
      
	</ul>
     

</div>